<% if (event.isNew()) { %>
  <h1>Create a new event</h1>
<% } else { %>
  <h1>Edit an event</h1>
<% } %>

<form class="event-form">
  <input
    type="hidden"
    name="event[id]"
    value="<%= event.id %>">
    
  <button id="back-to-cal">Back</button>
  <input type="submit" id="save" value="SAVE">

  <% if (!this.model.isNew()) { %>
    <button id="discard">Delete</button>
  <% } %>
  
  <label for="event_title"><h4>Title</h4></label>
  <input type="text" 
    id="event_title" 
    name="event[title]" 
    placeholder="Untitled event"
    size="60"
    class="accepts-data"
    value="<%= event.escape("title") %>">
  <br>

  <% var startDate = event.escape("start_date") %>
  <% var startDateFormatted = startDate.substring(0, startDate.length - 1) %>
  <% var endDate = event.escape("end_date") %>
  <% var endDateFormatted = endDate.substring(0, endDate.length - 1) %>

  <label for="event_start_date"><h4>Start</h4></label>
  <input id="event_start_date" 
    name="event[start_date]" 
    type="datetime-local" 
    class="accepts-data" 
    value="<%= startDateFormatted %>" />
    
  <label for="event_end_date"><h4>End</h4></label>
  <input id="event_end_date" 
    name="event[end_date]" 
    type="datetime-local" 
    class="accepts-data" 
    value="<%= endDateFormatted %>" />
  <br>
  
  <label for="event_calendar_id"><h4>Calendar</h4></label>
  <select name="event[calendar_id]" id="event_calendar_id" style="width: 364px">
    <% Cal.calendars.each(function (calendar) { %>
      <% if (calendar.get("id") === event.get("calendar_id")) { %>
        <% var selectStatus = 'selected="selected"' %>
      <% } else { %>
        <% var selectStatus = "" %>
      <% } %>
      
      <option value="<%= calendar.get("id") %>" <%=selectStatus %>>
        <%= calendar.escape("name") %></option>
    <% }); %>
  </select>
  <br>
  
  <label for="event_description"><h4>Description</h4></label>
  <textarea id="event_description" 
    name="event[description]" 
    placeholder="Describe the event..."
    rows="10"
    cols="40" 
    class="accepts-data">
<%= event.escape("description") %></textarea>
  <br>
  
  <% if (event.get("reminder")) { %>
    <% var selectStatus = 'selected="selected"' %>
  <% } else { %>
    <% var selectStatus = "" %>
  <% } %>
  
  <div class="align-checkbox">
    <div class="form-checkbox">
      <input type="checkbox" 
        id="event_reminder_true"
        class="reminder-event"
        name="event[reminder]"
        value="true">
    </div>
    <div class="form-checkbox-text">
      <h4 id="checkbox-tag"> 24-hour Email Reminder</h4>
    </div>
  </div>
  <br>  

  <div id="recurring-event-fields">
    <label for="event_num_of_times"><h4>Number of occurrences</h4></label>
    <input type="number"
      id="event_num_of_times"
      name="event[num_of_times]"
      min="1">
    <br>
    
    <div class="align-radio">
      <div class="radio-selector">
        <input type="radio" 
          id="event_frequency_daily" 
          name="event[frequency]"
          value="daily">
      </div>
      <div class="radio-label">
        <label for="event_frequency_daily">
          <h4 id="checkbox-tag">Daily</h4></label>
      </div>
    </div>
    <br>
    
    <div class="align-radio">
      <div class="radio-selector">
        <input type="radio" 
          id="event_frequency_weekly" 
          name="event[frequency]"
          value="weekly">
      </div>
      <div class="radio-label">
        <label for="event_frequency_weekly">
          <h4 id="checkbox-tag">Weekly</h4></label>
      </div>
    </div>
    <br>
    
    <div class="align-radio">
      <div class="radio-selector">
        <input type="radio" 
          id="event_frequency_biweekly" 
          name="event[frequency]"
          value="biweekly">
      </div>
      <div class="radio-label">
        <label for="event_frequency_biweekly">
          <h4 id="checkbox-tag">Bi-weekly</h4></label>
      </div>
    </div>
    <br>
    
    <div class="align-radio">
      <div class="radio-selector">
        <input type="radio" 
          id="event_frequency_monthly" 
          name="event[frequency]"
          value="biweekly">
      </div>
      <div class="radio-label">
        <label for="event_frequency_monthly">
          <h4 id="checkbox-tag">Monthly</h4></label>
      </div>
    </div>
    <br>
    
    <div class="align-radio">
      <div class="radio-selector">
        <input type="radio" 
          id="event_frequency_yearly" 
          name="event[frequency]"
          value="biweekly">
      </div>
      <div class="radio-label">
        <label for="event_frequency_yearly">
          <h4 id="checkbox-tag">Yearly</h4></label>
      </div>
    </div>
    <br><br>
  </div>
  
  <div class="align-checkbox">
    <div class="form-checkbox">
      <input type="checkbox" 
        id="event_recurring_true"
        class="recurring-event"
        name="event[recurring]"
        value="true">
    </div>
    <div class="form-checkbox-text">
      <h4 id="checkbox-tag"> Recurring</h4>
    </div>
  </div>
  <br><br>
  
  
</form>