<h1>Create a new event</h1>

<form class="event-form">
  <input
    type="hidden"
    name="event[id]"
    value="<%= event.id %>">
  
  <label for="event_title"><h4>Title</h4></label>
  <input type="text" 
    id="event_title" 
    name="event[title]" 
    placeholder="Untitled event"
    size="60"
    class="accepts-data"
    value="<%= event.escape("title") %>">
  <br>

  <label for="event_start_date"><h4>Start</h4></label>
  <input id="event_start_date" 
    name="event[start_date]" 
    type="datetime-local" 
    class="accepts-data" 
    value="<%= event.escape("start_date") %>" />
  <label for="event_end_date"><h4>End</h4></label>
  <input id="event_end_date" 
    name="event[end_date]" 
    type="datetime-local" 
    class="accepts-data" 
    value="<%= event.escape("end_date") %>" />
  <br>
  
  <label for="event_calendar_id"><h4>Calendar</h4></label>
  <select name="event[calendar_id]" id="event_calendar_id">
    <% Cal.calendars.each(function (calendar) { %>
      <option value="<%= calendar.get("id") %>">
        <%= calendar.escape("name") %></option>
    <% }); %>
  <br>
  
  <label for="event_description"><h4>Description</h4></label>
  <br>
  <textarea id="event_description" 
    name="event[description]" 
    placeholder="Describe the event..."
    rows="10"
    cols="40" 
    class="accepts-data">
<%= event.escape("title") %></textarea>
  <br>

  <input type="radio" 
    id="event_recurring_true" 
    name="event[recurring]"
    value="true">
  <label for="event_recurring_true"><h4>Recurring</h4></label>
  <input type="radio" 
    id="event_recurring_false" 
    name="event[recurring]"
    value="false">
  <label for="event_recurring_false"><h4>One time</h4></label>
  <br>
  
  <button id="back-to-cal"><</button>
  <input type="submit" id="save" value="SAVE">
  
  <% if (!this.model.isNew()) { %>
    <button id="discard">Discard</button>
  <% } %>
</form>