<h1>Create a new event</h1>

<form class="event-form">
  <input
    type="hidden"
    name="event[id]"
    value="<%= event.id %>">
  
  <label for="event_title"><h4>Title</h4></label>
  <input type="text" 
    id="event_title" 
    name="event[title]" 
    placeholder="Untitled event"
    size="60"
    class="accepts-data"
    value="<%= event.escape("title") %>">
  <br>

  <% var start_date = new Date (event.escape("start_date")) %>
  <% var start_month = start_date.getMonth(); %>
  <% var start_year = start_date.getFullYear(); %>
  <% var start_day = start_date.getUTCDate(); %>
  <% var start_time = start_date.getTime();%>

  <label for="event_start_date"><h4>Start</h4></label>
  <input id="event_start_date" 
    name="event[start_date]" 
    type="datetime-local" 
    class="accepts-data" 
    value="<%= start_month %>" />
    
  <label for="event_end_date"><h4>End</h4></label>
  <input id="event_end_date" 
    name="event[end_date]" 
    type="datetime-local" 
    class="accepts-data" 
    value="<%= event.get("end_date") %>" />
  <br>
  
  <label for="event_calendar_id"><h4>Calendar</h4></label>
  <select name="event[calendar_id]" id="event_calendar_id">
    <% Cal.calendars.each(function (calendar) { %>
      <option value="<%= calendar.get("id") %>">
        <%= calendar.escape("name") %></option>
    <% }); %>
  </select>
  <br>
  
  <label for="event_description"><h4>Description</h4></label>
  <textarea id="event_description" 
    name="event[description]" 
    placeholder="Describe the event..."
    rows="10"
    cols="40" 
    class="accepts-data">
<%= event.escape("description") %></textarea>
  <br>

  <input type="checkbox" 
    id="event_recurring_true"
    class="recurring-event"
    name="event[recurring]"
    value="true"><h4 id="checkbox-tag"> Recurring</h4>
  <br><br>

  <div id="recurring-event-fields">
    <label for="event_num_of_times"><h4>Number of occurrences</h4></label>
    <input type="number"
      id="event_num_of_times"
      name="event[num_of_times]"
      min="1">
    <br>
    
    <input type="radio" 
      id="event_frequency_daily" 
      name="event[frequency]"
      value="daily">
    <label for="event_frequency_daily">
      <h4 id="checkbox-tag">Daily</h4></label>
    <input type="radio" 
      id="event_frequency_weekly" 
      name="event[frequency]"
      value="weekly">
    <label for="event_frequency_weekly">
      <h4 id="checkbox-tag">Weekly</h4></label>
    <input type="radio" 
      id="event_frequency_biweekly" 
      name="event[frequency]"
      value="biweekly">
    <label for="event_frequency_biweekly">
      <h4 id="checkbox-tag">Bi-weekly</h4></label>
    <input type="radio" 
      id="event_frequency_monthly" 
      name="event[frequency]"
      value="biweekly">
    <label for="event_frequency_monthly">
      <h4 id="checkbox-tag">Monthly</h4></label>
    <input type="radio" 
      id="event_frequency_yearly" 
      name="event[frequency]"
      value="biweekly">
    <label for="event_frequency_yearly">
      <h4 id="checkbox-tag">Yearly</h4></label>
  </div>

  <!--input type="radio" 
    id="event_recurring_true" 
    name="event[recurring]"
    value="true">
  <label for="event_recurring_true"><h4>Recurring</h4></label>
  <input type="radio" 
    id="event_recurring_false" 
    name="event[recurring]"
    value="false">
  <label for="event_recurring_false"><h4>One time</h4></label>
  <br-->
  
  <button id="back-to-cal"><</button>
  <input type="submit" id="save" value="SAVE">
  
  <% if (!this.model.isNew()) { %>
    <button id="discard">Discard</button>
  <% } %>
</form>