<% _(hoursInDay).each(function (hour) { %>  
  <div class="calendar-hour">
    <font id="day-num"><strong><%= hour %>:00</strong></font>
    
    <% calendars.each(function (calendar) { %>
      <% calendar.get("events").each(function (event) { %>
              
          <% var eventDate = new Date (event.get("start_date")); %>
          <% var eventDay = eventDate.getUTCDate(); %>
          <% var eventHour = eventDate.getUTCHours(); %>
          <% var eventMonthNum = eventDate.getMonth(); %>
          <% var eventMonth = Cal._monthNames[eventMonthNum] %>
          <% var eventYear = eventDate.getFullYear(); %>

          <% var eventEndDate = new Date(event.get("start_date")); %>
          <% var eventEndDay = eventEndDate.getUTCDate(); %>
          
          <% if (eventEndDay === eventDate) { %>
            <% var eventEndHour = 23; %>
          <% } else { %>
            <% var eventEndHour = eventEndDate.getUTCHours(); %>
          <% } %>
               
          <% var eventLength = eventEndHour - eventHour; %>
        
          

          <% if ((eventHour == hour)
            && (eventDay === day) 
            && (eventMonth == month) 
            && (eventYear == year)) { %>
            <% var cId = calendar.escape("id") %>
            <% var eId = event.escape("id") %>
            <a href="#/calendars/<%= cId %>/events/<%= eId %>/edit"
              id="event-link">
              <div id="hour-event" 
                class="cal-<%= calendar.get("id") %> display-id-<%= calendar.get("display_id") %>">
                <%= event.escape("title") %>
              </div>
            </a>
          <% } %>
      <% }); %>
    <% }); %>
  </div>
<% }); %>
