<% _(daysInMonth).each(function (day) { %>
  <% if (day === 1) { %>
    <% var index = Cal._dayNames.indexOf(dayOfWeek); %>
    
    <% for (var i = index; i > 0; i--) { %>
      <div class="calendar-day"></div>
    <% } %>
  <% } %>
  
  
  <div class="calendar-day">
    <font id="day-num"><strong><%= day %></strong></font>
    
    <% calendars.each(function (calendar) { %>
      <% calendar.get("events").each(function (event) { %>
        <div class="event">
          <% var eventDate = new Date (event.get("start_date")); %>
          <% var eventDay = eventDate.getUTCDate(); %>
          <% var eventMonthNum = eventDate.getMonth(); %>
          <% var eventMonth = Cal._monthNames[eventMonthNum] %>
          <% var eventYear = eventDate.getFullYear(); %>
      
          <% if ((eventDay === day) 
            && (eventMonth == month) 
            && (eventYear == year)) { %>
              
            <% var cId = calendar.escape("id") %>
            <% var eId = event.escape("id") %>
            
            <a href="#" 
              class="<%= cId %> <%= eId %>"
              id="event-link">
              <div id="event" 
                class="cal-<%= calendar.get("id") %> display-id-<%= calendar.get("display_id") %>">
                <%= event.escape("title") %>
              </div>
            </a>
          <% } %>
        </div>
      <% }); %>
    <% }); %>
  </div>
  
  
  <% var today = new Date (); %>
  <% var todayDay = today.getDate(); %>
  <% var todayMonthNum = today.getMonth(); %>
  <% var todayMonth = Cal._monthNames[todayMonthNum] %>
  <% var todayYear = today.getFullYear(); %>
  
  <% if((day === todayDay)
    && (month === todayMonth)
    && (year === todayYear)) { %>
    
    <% $("#day-num").css("color", "red")%>
  <% } %>
  
<% }); %>



<script>
  $(function() {
    $( "#event" ).draggable({ revert: "invalid" });
    $( ".calendar-day" ).droppable({
      drop: function( event, ui ) {
        console.log($(event.target).find('#day-num').html())
      }
    });
  });
</script>
