<% _(daysInMonth).each(function (day) { %>
  <% if (day === 1) { %>
    <% var index = Cal._dayNames.indexOf(dayOfWeek); %>
    
    <% for (var i = index; i > 0; i--) { %>
      <div class="calendar-day"></div>
    <% } %>
  <% } %>
  
  
  <div class="calendar-day-drop">
    <font id="day-num"><%= day %></font>
    
    <% calendars.each(function (calendar) { %>
      <% calendar.get("events").each(function (event) { %>
        <div class="event">
          <% var eventDate = new Date (event.get("start_date")); %>
          <% var eventDay = eventDate.getUTCDate(); %>
          <% var eventMonthNum = eventDate.getMonth(); %>
          <% var eventMonth = Cal._monthNames[eventMonthNum]; %>
          <% var eventYear = eventDate.getFullYear(); %>
      
          <% if ((eventDay === day) 
            && (eventMonth == month) 
            && (eventYear == year)) { %>
              
            <% var cId = calendar.escape("id") %>
            <% var eId = event.escape("id") %>
            
            <a href="#" 
              class="<%= cId %> <%= eId %>"
              id="event-link">
              <div id="event" 
                class="<%= eId %> cal-<%= calendar.get("id") %> $ display-id-<%= calendar.get("display_id") %> draggable-event">
                <%= event.escape("title") %>
              </div>
            </a>
          <% } %>
        </div>
      <% }); %>
    <% }); %>
  </div>
 
  <% var today = new Date (); %>
  <% var todayDay = today.getDate(); %>
  <% var todayMonthNum = today.getMonth(); %>
  <% var todayMonth = Cal._monthNames[todayMonthNum] %>
  <% var todayYear = today.getFullYear(); %>
  
  <% if((day === todayDay)
    && (month === todayMonth)
    && (year === todayYear)) { %>
    <% $('#day-num').attr('id', 'today-font'); %>
  <% } %>
  
<% }); %>


<form class="dragged-event-updater">
  <button id="dragged-event-update-button"> </button>
</form>

<div class="dragged-event-info">
  
</div>

<script>
  $(function() {
    $( ".draggable-event" ).draggable({ revert: "invalid" });
    $( ".calendar-day-drop" ).droppable({
      hoverClass: "drag-over-highlight",
      drop: function( event, ui ) {
        event.preventDefault();
        
        var newDay = $(event.target).find('#day-num').html();
        var sub = ui.draggable.attr('class');
        var stop = sub.indexOf(' ');
        var start2 = sub.indexOf('-') + 1;
        var stop2 = sub.indexOf(' $');

        var thisEventId = sub.slice(0, stop);
        var thisCalId = sub.slice(start2, stop2);
        var thisCal = Cal.calendars.get(thisCalId);
        var theseEvents = thisCal.get('events');
        var thisEvent = theseEvents.get(thisEventId);

        var thisEventStartDate = new Date (thisEvent.get('start_date'));
        var thisEventEndDate = thisEvent.get('endDate');
        var thisEventMonthNum = thisEventStartDate.getMonth();
        var thisEventYear = thisEventStartDate.getFullYear();
        var thisEventStartDay = thisEventStartDate.getUTCDate();
        
        var startUTCstring = (new Date(thisEvent.get('start_date'))).toUTCString();
        var endUTCstring = (new Date(thisEvent.get('end_date'))).toUTCString();
        var newStartDate = startUTCstring.replace(thisEventStartDay, newDay);
        var newEndDate = endUTCstring.replace(thisEventStartDay, newDay);
        
        var resetStartDate = new Date (newStartDate);
        var resetEndDate = new Date (newEndDate);
        
        $('.dragged-event-updater').append("<input type='hidden' value='" + resetStartDate + "' name='event[start_date]'>");
        $('.dragged-event-updater').append("<input type='hidden' value='" + resetEndDate + "' name='event[end_date]'>");
        $('.dragged-event-info').append("<span class='dragged-cal-id'>" +  thisCalId + "</span>");
        $('.dragged-event-info').append("<span class='dragged-event-id'>" +  thisEventId + "</span>");
        
        $.ajax({
          type: 'PUT',
          url: 'events/' + thisEventId,
          data: { start_date: resetStartDate,
            end_date: resetEndDate },
          success: function () {
            console.log('hi cj');
          },
          error: function () {
            console.log('fuck you cj');
          }
        });
      }
    });
  });
</script>

