<% _(daysInWeek).each(function (day) { %> 
  <% var currentDay = day.getDate(); %>
  
  <div id="week-table">
    <div class="day-in-week">
      <center><h5><%= month %> <%= currentDay %></h5></center>
      <% _(hoursInDay).each(function (hour) { %>  
        <div class="calendar-hour">
          <font id="day-num"><strong><%= hour %>:00</strong></font>
    
          <% calendars.each(function (calendar) { %>
            <% calendar.get("events").each(function (event) { %>
              <div class="event">
                <% var eventDate = new Date (event.get("start_date")); %>
                <% var eventDay = eventDate.getUTCDate(); %>
                <% var eventHour = eventDate.getUTCHours(); %>
                <% var eventMonthNum = eventDate.getMonth(); %>
                <% var eventMonth = Cal._monthNames[eventMonthNum] %>
                <% var eventYear = eventDate.getFullYear(); %>
      
                <% if ((eventHour == hour)
                  && (eventDay === currentDay) 
                  && (eventMonth == month) 
                  && (eventYear == year)) { %>
                    
                  <% var cId = calendar.escape("id") %>
                  <% var eId = event.escape("id") %>
                  
                  <a href="#" 
                    class="<%= cId %> <%= eId %>"
                    id="event-link">
                    <div id="hour-event" 
                      class="cal-<%= calendar.get("id") %> display-id-<%= calendar.get("display_id") %>">
                      <%= event.escape("title") %>
                    </div>
                  </a>
                <% } %>
              </div>
            <% }); %>
          <% }); %>
        </div>
      <% }); %>
    </div>
  </div>
<% }); %>
