<script>
  $(document).ready(function() {
    $(".fancy_title").lettering();
  });
</script>

<br><br>
<button id="new-event">CREATE</button>
<br><br>
<button id="new-calendar">NEW CALENDAR</button>
<br><br>

<form class="search-box">
  <input type="text" 
    data-provide="typeahead" 
    autocomplete="off" 
    data-source="[banana, grapefruit]"
    class="typeahead"
    id="search-events"
    placeholder="Search calendar">
  <input type="hidden" name="id" id="id">
  <input type="hidden" name="calendar_id" id="calendar_id">
  
  <button class="search-submit"><i class="icon-search icon-white"></i></button>
</form>

<script>
  $(function() {
    var typeAhead = {};
    
    typeAhead.Person = Backbone.Model.extend({});

    typeAhead.People = Backbone.Collection.extend({
      model: typeAhead.Person
    });

    dataset = [];

    Cal.calendars.each(function (calendar) {
      calendar.get("events").each( function (event) {
        var startDate = new Date (event.get("start_date"));
        var startMonth = startDate.getMonth();
        var startDay = startDate.getUTCDate();
        var startYear = startDate.getFullYear();
      
        dataset.push({
          "name": event.get("title") + " - " + 
            startMonth + "/" + startDay + "/" + startYear,
          "id": event.get("id"),
          "calendar_id": event.get("calendar_id")
        });
      });
    });
  
  
  	$(".typeahead").typeahead({
      source: function (query, process) {
          eventObjs = {};
          eventNames = [];

          _.each(dataset, function(item, ix, list) {
            eventNames.push(item.name);
          
            eventObjs[item.name] = {
              id: item.id,
              calendar_id: item.calendar_id
            };
          });
        
          process(eventNames);
      },
    
      updater: function (selectedEvent) {
        $("#id").val(eventObjs[selectedEvent]);
        $("#calendar_id").val(eventObjs[selectedEvent]);

        return selectedEvent;
  		}
  	});
  });
</script>

<h3>My Calendars</h3>
<% calendars.each(function (calendar) { %>
  <button id="show-cal"
    data-id="<%= calendar.get("id") %>"
    class="display-cal-button cal-button-<%= calendar.get("display_id") %>">
    <%= calendar.get("name") %></button>
  <button id="edit-cal"
    data-id="<%= calendar.get("id") %>"
    class="edit-cal-button cal-button-<%= calendar.get("display_id") %>">
    <i class="icon-pencil icon-white"></i></button>
  <br><br>
<% }); %>

<div id="keyboard-shortcuts">
  <div id="keyboard-shortcut-info">
    <h6>b = back to calendar</h6>
    <h6>c = create a new event</h6>
    <h6>j = back</h6>
    <h6>k = forward</h6>
    <br><br>
  </div>
  
  <div id="keyboard-shortcut-link"><h6>keyboard shortcuts</h6></div>
</div>

<br><br><br>
