<!-- app/views/users/new.html.erb -->

<div class="container">
  <div class="header">
    
    <div id="test">
      <div class="logo-holder">
        <img src="/assets/gull.png" class="logo" />
      </div>
      <div class="title-holder">
        <span id="calendar-title">
          <span class="char1">S</span>
          <span class="char2">E</span>
          <span class="char3">A</span>
          <span class="char4">G</span>
          <span class="char5">U</span>
          <span class="char6">L</span>
          <span class="char7">L</span>
          <span class="char8"></span>
          <span class="char8"> </span>
          <span class="char9">&nbsp;C</span>
          <span class="char10">A</span>
          <span class="char11">L</span>
          <span class="char12">E</span>
          <span class="char13">N</span>
          <span class="char14">D</span>
          <span class="char15">A</span>
          <span class="char16">R</span>
        </span>
      </div>
    </div>
    
    <div class="sign-up-region">
      <div id="signuptext">
        <font id="sign-up-text">Have an account?</font>
      </div>
      <div id="signupbutton">
        <%= button_to "Sign in", 
          new_session_url,
          :method => "get",
          :id => "sign-up-button" %>
      </div>
    </div>
  </div>
  <div id="session-content">
  
    <div id="left-half">
      <div id="cal-info">
        <h1 id="header-text">Seagull Calendar</h1>
        
        <h3>Share your schedule.</h3>
        Let your family and friends see your calendar, and view schedules that others have shared with you.
        <br>
          
        <h3>Never forget another event.</h3>
        Get event reminders via email.
        <br>
        
        <h3>Try it out first.</h3>
        <form action="<%= session_url %>" method="post">
          <input type="hidden" 
            name="user[email]" 
            value="demo@demo.com">
          <input type="hidden" 
            name="user[password]" 
            value="password">
          
          <input type="submit" value="View Demo" id="demo-sign-in-button">
        </form>
        
        <a href=""><h5>Learn more about Calendar</h5></a>
      </div>
    </div>


    <div id="right-half">
      <div id="log-in-box">       
        <div id="log-in-info">
          <h1 id="header-text">Sign Up</h1>
          <br>
        
          <%= form_for @user do |f| %>
            <%= f.text_field :email, 
              :placeholder => "email", 
              :value => @user.email,
              :id => "info-field" %>
              <br>
            <%= f.password_field :password, 
              :placeholder => "password",
              :id => "info-field" %>
            <br>
          
            <%= f.submit :value => "Sign up", :id => "sign-up-button" %>
          <% end %> 
        </div>       
      </div>
    </div>
  
  </div>
  
</div>

<div id="session-footer">
  <div id="footer-content">
    <font id="header-text"><strong>&#169; Seagull</strong></font>
    &emsp;&emsp;&emsp;
    <a href="">Terms & Conditions</a>
    &emsp;
    <a href="">Privacy Policy</a>
  </div>
</div>