<!-- app/views/users/new.html.erb -->

<%= form_for @event do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  
  <%= f.label :description %>
  <br>
  <%= f.text_area :description %>
  <br>
  
  <input type="datetime-local" name="event[datetime]">
  <br>
  
  <%= date_select @event, :date %>

  <input type="radio" 
    id="event_recurring_true" 
    name="event[recurring]"
    value="true">
  <label for="event_recurring_true">Recurring</label>
  <input type="radio" 
    id="event_recurring_false" 
    name="event[recurring]"
    value="false">
  <label for="event_recurring_false">One time</label>
  <br>
  
  <%= f.submit %>
<% end%>