<!-- app/views/events/new.html.erb -->

<%= form_for @event do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  
  <%= f.label :description %>
  <br>
  <%= f.text_area :description %>
  <br>

  <label for="event_start_date">Start</label>
  <input id="event_start_date" name="event[start_date]" type="datetime-local" />
  <label for="event_end_date">End</label>
  <input id="event_end_date" name="event[end_date]" type="datetime-local" />
  <br>

  <input type="radio" 
    id="event_recurring_true" 
    name="event[recurring]"
    value="true">
  <label for="event_recurring_true">Recurring</label>
  <input type="radio" 
    id="event_recurring_false" 
    name="event[recurring]"
    value="false">
  <label for="event_recurring_false">One time</label>
  <br>
  
  <%= f.submit %>
<% end%>