<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.name %></h1>
    <p>
      This email is a reminder regarding: <%= @event.title %> will occur at:
      <%= @event.start_date %> until <%= @event.end_date %>.
    </p>
    <p>
      You can view your calendar and make alterations by going to: <%= @url %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>