<!DOCTYPE html>
<html>
<head>
  <title>Cal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- start header bar -->
  <%# if current_user %>
    <%#= form_for @user, :url => session_url do |f| %>
      <!--button class="logout-button">Log out</button-->
    <%# end %>
  <%# else %>
    <%#= render :partial => "./sessions/new" %>
  <%# end %>
<!-- end header bar -->
  
<!-- start error display -->
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%>
<!-- end error display -->

  <%= yield %>

</body>
</html>
